*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  body {
    justify-items: center;
    width: 1fr;
    padding-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
    background-image: linear-gradient(-45deg, #24c6dc 0%, #514a9d 100%);
  }
}
